<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class="navbar navbar-light bg-light">

    <a class="navbar-brand" href= "/products/" >Products</a>
    <a class="navbar-brand" href="/abouts/">About</a>
  </nav>

    <%= yield %>
  </body>
</html>
